<h2>Shipping - Step 1 of 3</h2>
<%= form_for @shipping_info, url: shipping_info_path, html: { class: "checkout" } do |f| %>
  <div class="order-column">
    <p>Please fill out your shipping information:</p>
    <% if @shipping_info.errors.any? %>
      <ul class="error-list">
        <% @shipping_info.errors.full_messages.each do |message| %>
          <li class="error"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <%= f.label :customer_name, "Name:" %>
    <%= f.text_field :customer_name, required: true, placeholder: "Required" %>

    <%= f.label :customer_phone_number, "Phone Number:" %>
    <%= f.text_field :customer_phone_number, required: true, placeholder: "Required" %>

    <%= label_tag :autocomplete_address, "Address:" %>
    <%= text_field_tag :autocomplete_address, nil, required: true %>

    <%= label_tag :address_2, "Apt./Suite:" %>
    <%= text_field_tag :address_2 %>

    <%= f.hidden_field :place_id, id: "place_id" %>
  </div>

  <div class="order-summary">
    <h3>Order Summary</h3>
    <p>Subtotal: <span class="order-total"><%= format_price @order.subtotal %></span></p>
    <p>Shipping: <span class="order-total">&mdash;</span></p>
    <p>Total: <span class="order-total">&mdash;</span></p>
    <%= f.submit "Proceed", class: "button" %>
  </div>
<% end %>
