<h2>Checkout - Step 3 of 3</h2>

<div class="checkout">
  <div class="order-column">
    <dl>
      <dt>Name</dt>
      <dd><%= @order.customer_name %></dd>
      <dt>Address</dt>
      <dd><%= @order.address %></dd>
      <dt>Phone Number</dt>
      <dd><%= @order.customer_phone_number %></dd>
      <dt>Shipping Method</dt>
      <dd><%= @order.shipping_method %>, <%= format_price @order.shipping_cost %></dd>
    </dl>
  </div>
  <div class="order-summary">
    <h3>Order Summary</h3>
    <p>Subtotal: <span class="order-total"><%= format_price @order.subtotal %></span></p>
    <p>Shipping Cost: <span class="order-total"><%= format_price @order.shipping_cost %></span></p>
    <h4>Total: <span class="order-total"><%= format_price @order.total %></span></h4>

    <%= form_tag charges_path do %>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="Seven Elephants"
              data-description="<%= @order.number_of_items %> items (<%= format_price @order.subtotal %> + shipping)"
              data-amount="<%= @order.total %>"
              data-locale="auto"
              data-label="Checkout with Stripe">
      </script>
    <% end %>
  </div>
</div>
