<h2>Shipping - Step 2 of 3</h2>

<% if @package_too_heavy %>
  <p>Your package exceeds the maximum weight/dimensions supported by the shipping company.</p>
  <p>Please remove some of the items.</p>
  <%= link_to "Go Back to Cart", cart_path %>
<% else %>
  <%= form_tag update_shipping_method_path, class: "checkout" do %>

    <div class="order-column">
        <ul>
          <% @shipping_rates.each do |shipping_rate| %>
          <li class="shipping-rate">
            <%= radio_button_tag(:service_code, "#{shipping_rate.service_code}", shipping_rate.service_code == @shipping_rates.first.service_code) %>
            <%= label_tag(:shipping_method, "#{shipping_rate.service_name}, #{ format_price shipping_rate.price}") %>
          </li>
          <% end %>
        </ul>
    </div>
    <div class="order-summary">
      <h3>Order Summary</h3>
      <p>Subtotal: <span class="order-total"><%= format_price @order.subtotal %></span></p>
      <p>Shipping: <span class="order-total">&mdash;</span></p>
      <p>Total: <span class="order-total">&mdash;</span></p>
      <%= submit_tag "Proceed", class: "button" %>
    </div>
  <% end %>
<% end %>
