<div class="products-show">
  <div class="product-info">
    <h2><%= @product.name %></h2>
    <p class="description">
      <%= @product.description %>
      <span class="dimensions">Dimensions: <%= @product.length %> &times; <%= @product.width %> &times; <%= @product.height %> cm</span>
      <span class="weight">Weight: <%= grams_to_pounds @product.weight %> lb</span>
    </p>
    <span class="price">Price: <%= format_price @product.price %></span>

    <div class="add-to-cart-form">
      <% if @in_stock == 0 %>
        <h4>Out of stock!</h4>
      <% else %>
        <%= form_for @order_product do |f| %>
          <label for="order_product[quantity]" class="select-container">
            <span class="quantity"> Quantity: </span> <%= f.select :quantity, 1..([10, @in_stock].min) %>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </label>
          <%= f.hidden_field :product_id %>
          <%= f.submit "Add to Shopping Cart", class: "button" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="product-images">
    <div class="product-images-full">
      <% @product.images.each_with_index do |image, index| %>
        <%= image_tag image.url, id: "image-#{index}" %>
      <% end %>
    </div>
    <div class="product-image-thumbnails">
      <% @product.images.each_with_index do |image, index| %>
        <%= image_tag image.url, id: "image-thumbnail-#{index}" %>
      <% end %>
    </div>
  </div>
</div>
