<div class="products-show">
  <%= image_tag @product.image.url %>

  <div class="product-info">
    <h2><%= @product.name %></h2>
    <p class="description"><%= @product.description %></p>
    <span class="price"><%= format_price @product.price %></span>

    <div class="add-to-cart-form">
      <% if @product.stock_quantity == 0 %>
        <h4>Out of stock!</h4>
      <% else %>
        <%= form_for @order_product do |f| %>
          Quantity: <%= f.select :quantity, 1..([10, @product.stock_quantity].min) %>
          <%= f.hidden_field :product_id %>
          <%= f.submit "Add to Cart" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
