<!DOCTYPE html>
<html>
  <head>
    <title>Nazzar Bazaar</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <% flash.each do |message_type, message| %>
      <div class="flash alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <main><%= yield %></main>
    <%= render "layouts/footer" %>
  </body>
</html>
