<!DOCTYPE html>
<html>
  <head>
    <title>Seven Elephants</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Muli|Pacifico" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <% flash.each do |message_type, message| %>
      <div class="flash alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <main><%= yield %></main>
    <%= render "layouts/footer" %>

    <%= javascript_include_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGUc1pSJCJplnKf5YKYFx_K41FxVcFKSA&libraries=places&callback=initAutocomplete"
        async defer></script>
  </body>
</html>
